src/META-INF/wsdl/localhost_8080/WSCalculadora/ServicoCalculadora.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servico/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servico/" name="ServicoCalculadora">
<types>
<xsd:schema>
<xsd:import namespace="http://servico/" schemaLocation="http://localhost:8080/WSCalculadora/ServicoCalculadora?xsd=1"/>
</xsd:schema>
</types>
<message name="subtrair">
<part name="parameters" element="tns:subtrair"/>
</message>
<message name="subtrairResponse">
<part name="parameters" element="tns:subtrairResponse"/>
</message>
<message name="multiplicacao">
<part name="parameters" element="tns:multiplicacao"/>
</message>
<message name="multiplicacaoResponse">
<part name="parameters" element="tns:multiplicacaoResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<message name="somar">
<part name="parameters" element="tns:somar"/>
</message>
<message name="somarResponse">
<part name="parameters" element="tns:somarResponse"/>
</message>
<portType name="ServicoCalculadora">
<operation name="subtrair">
<input wsam:Action="http://servico/ServicoCalculadora/subtrairRequest" message="tns:subtrair"/>
<output wsam:Action="http://servico/ServicoCalculadora/subtrairResponse" message="tns:subtrairResponse"/>
</operation>
<operation name="multiplicacao">
<input wsam:Action="http://servico/ServicoCalculadora/multiplicacaoRequest" message="tns:multiplicacao"/>
<output wsam:Action="http://servico/ServicoCalculadora/multiplicacaoResponse" message="tns:multiplicacaoResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://servico/ServicoCalculadora/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://servico/ServicoCalculadora/dividirResponse" message="tns:dividirResponse"/>
</operation>
<operation name="somar">
<input wsam:Action="http://servico/ServicoCalculadora/somarRequest" message="tns:somar"/>
<output wsam:Action="http://servico/ServicoCalculadora/somarResponse" message="tns:somarResponse"/>
</operation>
</portType>
<binding name="ServicoCalculadoraPortBinding" type="tns:ServicoCalculadora">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="subtrair">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicacao">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicoCalculadora">
<port name="ServicoCalculadoraPort" binding="tns:ServicoCalculadoraPortBinding">
<soap:address location="http://localhost:8080/WSCalculadora/ServicoCalculadora"/>
</port>
</service>
</definitions>